:root {
    /* tamanho da fonte 16px 100% 1rem*/
    font-size: 62.5%; /* 10px */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 500 1.6rem Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #0077b6;
}
a:hover{
    text-decoration: underline;
    color: #48cae4;
}
#container{
    width: 100vw;
}
#container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121214;
    padding: 1.2rem;
    margin-bottom: 1.8rem;
}
#container header h1{
    color: #ffffff;
    text-decoration: ;
    line-height: 1.3;
}
#container header img{
    height: 5rem;
}
#container .repositories{
    padding: 1.5rem;
}
.repository{
    border: solid #003e5f 1px;
    padding: 0.6rem;
    border-radius: 0.4rem;
    
}
footer{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}